
.cart-container {
    max-width: 800px;
    margin: auto;
    padding: 20px;
    background-color: #FFFFFF;
    border-radius: 8px;
    box-shadow: 0 0px 6px rgba(0, 0, 0, 0.2);

}


.mcem{
    text-align: center;
    color: black;
   
}
.cart-item {
    display: flex;
    align-items: center;
    margin-bottom: 15px;
    border-bottom: 1px solid black;
    padding-bottom: 10px;
    
}

.cart-image {
    width: 80px; 
    height: auto;
    margin-right: 15px;
    border-radius: 5px;
}

.quantity-control {
    display: flex;
    align-items: center;
    gap: 10px;
    margin: 10px 0;
    color: black;
}

.quantity {
    font-size: 1.2rem;
    font-weight: bold;
    color: black;
}

.br{
    background: #E21818;
    color: #FFFFFF;
    border: none;
    padding: 5px 10px;
    border-radius: 5px;
    cursor: pointer;
    transition: background 0.3s;
}

.br:hover {
    background-color: #ce1919;
}

.total-price{
    color: black;
}

.btnin{
    background-color: #1458ec;
    color: #FFFFFF;
    border-radius: 5px;
    padding: 5px 10px;
    border: none;
    outline: none;
}

.btnde{
    background-color: #1458ec;
    color: #FFFFFF;
    border-radius: 5px;
    padding: 5px 12.5px;
    border: none;
    outline: none;
}



.btnde:hover{
    background: #1651d0;
}
.btnin:hover{
    background: #1651d0;
}


.empty-cart-container {
    text-align: center;
    margin-top: 50px;
}
.batcp1 {
    background: #1458ec;
    color: #FFFFFF;
    border: none;
    padding: 7px 14px;
    border-radius: 5px;
    cursor: pointer;
    transition: background 0.3s;
    margin-top: 10px;
}

.batcp1:hover {
    background: #1651d0;
}


@media (max-width: 767px) {
    .cart-container{
        margin-top: 35px;
    }

    .cart-image{
        padding: 0px;
    }

    
    .br{
        padding: 6px 12px;
        font-size: 14px;
    }
    .btnin{
        padding: 2.5px 8px;
        font-size: 14px;
        margin-left: -4px;
        font-size: 14px
    }
    .btnde{
        padding: 2.5px 9.5px;
        font-size: 14px;
        margin-right: -4px;
        font-size: 14px
    }
    .cart-item{
        font-size: 14px;

    }
    h3{
        font-size: 20px;
    }
    .mcem{
        text-align: center;
        color: black;
       margin-top: 38px;
    }
    .batcp1 {
        padding: 3.5px 7px;
        border-radius: 5px;
        cursor: pointer;
        transition: background 0.3s;
        margin-top: 10px;
    }
}