.navbar-brand {
    color: #FFFFFF !important;
    font-weight: bolder;
    font-style: italic;
    font-family: sans-serif;
    font-size: 30px;
    margin-left: 10px;
}
.App-logo{
    width: 30px;
    height: 30px;
    margin-right: 5px;
}

.product {
    text-align: center;
    margin-top: 10px;
    margin-bottom: 20px;
}

.seacrhbar {
    border-radius: 5px;
    padding: 7px 14px;
    margin-left: 30px;
    background-color: #FFFFFF;
    width: 260px;
    border: none;
    outline: none;
}




.navbar {
    background-color: #1458ec;
    max-height: 60px;
    padding: 0 !important;
    margin: 0 !important;
    display: flex;
    align-items: center;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000;
}




.bc {
    background-color: #1458ec;
    color: #FFFFFF;
    border-radius: 5px;
    outline: none;
    border: none;
    padding: 7px 14px;
    margin-left: 30px;
    margin-right: 10px;
}

.bc:hover {
    background-color: #1651d0;
}

.cartco{
    background: red;
    border-radius: 5px;
    padding: 0px 3px;
    margin-left: 5px;   
}

@media screen and (max-width: 768px) {
    .navbar {
        height: 50px;
        padding: 5px;
    }

    .navbar-brand {
        font-size: 20px;
    }

    .App-logo {
        width: 20px;
        height: 20px;
    }

    .seacrhbar {
        width: 150px;
        padding: 5px 10px;
    }

    .bc {
        padding: 5px 10px;
        font-size: 14px;
    }

    .cartco {
        padding: 1px 5px;
        font-size: 10px;
    }
}

/* Even Smaller Screens */
@media screen and (max-width: 480px) {
    .navbar-brand {
        font-size: 18px;
    }

    .seacrhbar {
        width: 120px;
        padding: 4px 8px;
    }

    .bc {
        padding: 4px 8px;
        font-size: 12px;
    }

    .cartco {
        padding: 0px 4px;
        font-size: 9px;
    }
}