.product-detail-container {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
    padding: 40px;
    max-width: 900px;
    margin: auto;
    background: #FFFFFF;
    border-radius: 10px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
}

.product-image {
    width: 300px;
    height: auto;
    border-radius: 10px;
    object-fit: cover;
}

.product-price {
    font-size: 16px;
    color: black;
    margin-bottom: 15px;
}

.product-info {
    flex: 1;
    text-align: left;
}

.product-info h1 {
    font-size: 28px;
    margin-bottom: 10px;
    color: black;
}


.product-info p {
    font-size: 16px;
    color: black;
    margin-bottom: 20px;
}

/* Features Styling */
.features-list {
    list-style-type: disc;
    padding-left: 20px;
}

.features-list li {
    font-size: 14px;
    color: #333;
    margin-bottom: 5px;
}

.batc {
    background: #1458ec;
    color: #FFFFFF;
    border: none;
    padding: 7px 14px;
    border-radius: 5px;
    cursor: pointer;
    margin-left: 10px;
    transition: background 0.3s;
}

.batc:hover {
    background: #1651d0;
}


@media (max-width: 767px) {
    .product-detail-container {
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        padding: 20px;
        gap: 15px;
        margin-top: 38px;
        
    }

    .product-image {
        width: 100%;
        height: auto;
        padding: 8px;
    }

    .product-info {
        text-align: center;
        width: 90%;
    }

    .batcp {
        padding: 6px 12px;
        font-size: 14px;
        
    }
    .batc{
        padding: 6px 12px;
        font-size: 14px;
    }
}
